#fh5co-home .gradient {
  background-image: url("../images/linas.jpg");
  background-size: cover;
}

.fh5co-service i {
  margin-top: 50px;
}

img.nav-logo {
  height: 200%;
  margin-top: -8px;
  display: inline-block;
}

.health-check hr {
  width: 50%;
  margin: 15vh 0px;
}

.opaque {
  /* Fallback for web browsers that don't support RGBa */
   background-color: rgb(0, 0, 0);
   /* RGBa with 0.6 opacity */
   background-color: rgba(0, 0, 0, 0.6);
   /* For IE 5.5 - 7*/
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
   /* For IE 8*/
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
   padding: 80px 20px;
}

#tlemail {
  width: 80%;
}

.cta-btns {
  margin-top: 30px;
}

#health-orgs {
  text-align: right;
}

.btn.btn-devexp {
  background: #3f95ea;
  padding: 20px 30px;
}

.more-info {
  margin-top: 5vh;
}

.person-container {
  padding-top: 50px;
}

.cta {
  padding-top: 50px;
}

a.navbar-brand {
  color: #52d3aa !important;
}

@media (min-width: 800px) {
  #fh5co-intro .fh5co-block {
    width: 31%;
    margin-right: 2.50%;
  }

  #fh5co-intro .fh5co-block:last-of-type {
    margin-right: 0;
  }
}

.email-signup {
  padding-top: 100px;
}

/* Newsletter */
.ck_form.ck_naked {
  /* divider image */
	background: transparent;
	line-height: 1.5em;
	overflow: hidden;
	color: #666;
	font-size: 16px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	clear: both;
	margin: 20px 0px;
	text-align: center;
}

.ck_form.ck_naked p {
	padding: 0px;
}

.ck_form, .ck_form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ck_form.ck_naked .ck_form_fields {
	width: 100%;
	float: left;
	padding: 5%;
}
/* Form fields */

.ck_errorArea {
	display: none; /* temporary */
}

#ck_success_msg {
	padding: 10px 10px 0px;
	border: solid 1px #ddd;
	background: #eee;
}

.ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] {
	font-size: 18px;
	padding: 10px 8px;
	width: 34%;
	border: 1px solid #d6d6d6; /* stroke */
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px; /* border radius */
	background-color: #fff; /* layer fill content */
	margin-bottom: 5px;
	height: auto;
	float: left;
	margin: 0px;
	margin-right: 1%;
	height: 42px;
}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
	outline: none;
	border-color: #aaa;
}

.ck_form.ck_naked .ck_subscribe_button {
    width: 100%;
    color: #fff;
    margin: 0px;
    padding:  9px 0px;
    font-size: 18px;
    background: #0d6db8;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; /* border radius */
    cursor: pointer;
    border: none;
    text-shadow: none;
    width: 30%;
    float: left;
    height: 42px;
  }


.ck_converted_content {
  display: none;
	padding: 5%;
	background: #fff;
}

/* max width 500 */

	.ck_form.ck_naked.width500 .ck_subscribe_button {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

	.ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
		width: 49%;
	}

	.ck_form.ck_naked.width500 input[type="email"] {
		margin-right: 0px;
		width: 50%;
	}

/* max width 400 */

	.ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

.ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
	min-width: 400px;
}

.page .ck_form.ck_naked {
	margin: 50px auto;
	max-width: 700px;
}


/* v6 */

.ck_slide_up.ck_form_v6, .ck_modal.ck_form_v6, .ck_slide_up.ck_form_v6 .ck_naked, .ck_modal.ck_form_v6 .ck_naked {
  min-width: 0 !important;
}

.ck_form_v6 #ck_success_msg {
	padding: 0px 10px;
}

@media all and (max-width: 403px) {
  .ck_form_v6.ck_modal .ck_naked {
    padding-top: 30px;
  }
}

@media all and (max-width: 499px) {
  .ck_form_v6.ck_modal .ck_naked + .ck_close_link {
    color: #fff;
    top: 10px;
  }
}

.ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
  right: 10px;
  top: -5px;
}

@media all and (min-width: 600px) {
  .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
    right: 35px;
  }
}
