#fh5co-home .gradient {
  background-image: url("../images/linas.jpg");
  background-size: cover;
}

.health-check hr {
  width: 50%;
  margin: 15vh 0px;
}

#health-orgs {
  text-align: right;
}

.btn.btn-devexp {
  background: #3f95ea;
  padding: 20px 30px;
}

.more-info {
  margin-top: 5vh;
}

.person-container {
  padding-top: 50px;
}

.cta {
  padding-top: 50px;
}

a.navbar-brand {
  color: #52d3aa !important;
}
